.SessionList {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.SessionList h2 {
    font-size: 1.6rem;
    color: #333;
}

.SessionList button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.SessionList button:hover {
    background-color: #0056b3;
}

.SessionList table {
    width: 100%;
    border-collapse: collapse;
}

.SessionList th, .SessionList td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.SessionList td:hover {
    background-color: #f9f9ff;
}

/* KeystrokeList.css & SessionList.css */
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.popup button {
    margin-right: 5px;
}

